server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/orders/**
          
        - id: inventory-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
    
  logging:
    level:
      com.prasad.ecommerce: DEBUG
      org.springframework.cloud.gateway: DEBUG
